@import "../_framework/variables/variables.scss";
@import "../_framework/variables/mixins.scss";
@import "../_framework/variables/colour.scss";

// Footer
footer{
	padding-bottom: 12rem;
	h6{color: $brand-alt}
	.legal{margin-top: 6rem}
}

#contact{
	padding: 12rem 1.8rem 0 1.8rem;
	ul{
		margin: -.9rem;
		li{display: inline-block;}
	}
	.contact_link{
		padding: 1.8rem;
		border: 1px solid transparentize($brand-alt, .88);
		border-radius: 1.8rem;
		margin: .9rem;
		img,p{display: inline-block;}
		img{
			line-height: 3rem;
			margin-right: .9rem;
			margin-top: .6rem;
		}
		&:hover{
			border-color: transparentize($brand-alt, .6);
		}
	}
}

.team{margin-bottom: 6rem;}

@media only screen and (max-width: $maxbody) {}
@media only screen and (max-width: $minbody) {}
@media only screen and (max-width: $tablet) {}
@media only screen and (max-width: $mobile) {}
