<div id="contact" class="container">

	<div class="subtitle">
		<h6>Say Hello</h6>
		<h2>Let’s have a chat about your project!</h2>
	</div>

	<ul>

			{% for contact in site.data.contact %}
			<li>
				<a class="contact_link" href="{{ contact.url }}" target="_blank" title="{{ contact.name }} Digital Rift" rel="noopener">
					<img data-src="{{ site.url }}{{ site.baseurl }}{{ contact.icon }}" height="18" width="18" alt="{{ contact.name }} Digital Rift" />
					<p>{{ contact.user }}</p>
				</a>
			</li>
			{% endfor %}

	</ul>

</div>

<div class=" container legal">
	<h6>&copy; {{ site.time | date: '%Y' }} <span>Digital Rift</span>. All Rights Reserved.</h6>
</div>
