<section id="team" class="team">
	<div class="container">

		<div class="subtitle">
			<h6>The Team</h6>
			<h2>We love what we do</h2>
			<p>We’re a collection of passionate developers and designers. The only thing we love more than esports is digital.</p>
		</div>

		<ul class="team-members">
			{% for member in site.data.team %}
			<li>
				<div class="avatar"><img data-src="{{ site.url }}{{ site.baseurl }}{{ member.avatar }}" width="93" height="93" alt="An awesome esports {{ member.title }}" /></div>
				<div class="name">
					<h3>{{ member.name }}</h3>
					<h6>{{ member.skill }}t</h6>
				</div>
			</li>
			{% endfor %}
		</ul>

	</div>
	<div class="background" style="background-image:url('{{ site.url }}{{ site.baseurl }}/img/stock-1.jpg')"></div>
	<div class="seperator seperator-top">
		<svg xmlns="http://www.w3.org/2000/svg" width="1920" height="90" viewBox="0 0 1920 90">
		    <path fill="#22202E" fill-rule="evenodd" d="M1920 60c-81.936 20-262.733 30-542.393 30-419.49 0-569.664-60-838.978-60C359.086 30 179.543 40 0 60V0h1920v60z"/>
		</svg>
	</div>
	<div class="seperator seperator-bottom">
		<svg xmlns="http://www.w3.org/2000/svg" width="1920" height="90" viewBox="0 0 1920 90">
		  <path fill="#22202E" fill-rule="evenodd" d="M1920 30c-82-20-262.7-30-542.4-30C958 0 808 60 538.6 60 359 60 179.6 50 0 30v60h1920V30z"/>
		</svg>
	</div>
</section>

<div id="contact" class="container">

	<div class="subtitle">
		<h6>Say Hello</h6>
		<h2>Let’s have a chat about your project!</h2>

		<p>With years of experience delivering high quality products in eSports, we can't wait to build something awesome with you and kick your project into overdrive! We're a friendly bunch, so drop us an email or connect on our social channels.</p>
	</div>

	<ul>

			{% for contact in site.data.contact %}
			<li>
				<a class="contact_link" href="{{ contact.url }}" target="_blank" title="{{ contact.name }} Digital Rift" rel="noopener">
					{% if contact.icon != '' %}
						<img data-src="{{ site.url }}{{ site.baseurl }}{{ contact.icon }}" height="18" width="18" alt="{{ contact.name }} Digital Rift" />
					{% endif %}
					<p>{{ contact.user }}</p>
				</a>
			</li>
			{% endfor %}

	</ul>

</div>

<div class=" container legal">
	<h6>&copy; {{ site.time | date: '%Y' }} <span>Digital Rift</span>. All Rights Reserved.</h6>
</div>
