<nav>

	<a class="logo" href="{{ site.url }}{{ site.baseurl }}/">
		<img src="{{ site.url }}{{ site.baseurl }}{{ site.logo_svg }}" width="141.33" height="33" alt="{{ site.title }}" />
	</a>

	<ul class="menu">
		{% for menu_item in site.data.menu %}
		<li
			{% if page.nav == "{{ menu_item.name }}" %}
				class="nav-item active"
			{% else %}
				class="nav-item"
			{% endif %}
		>

			<a href="{{ site.url }}{{ site.baseurl }}{{ menu_item.url }}">
				<h5>{{ menu_item.name }}</h5>
			</a>

		</li>
		{% endfor %}
	</ul>

</nav>
