@import "variables/variables.scss";
@import "variables/mixins.scss";
@import "variables/colour.scss";

//Global

.container{
	max-width: $minbody;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 99;
}

.content-center{
	width: 100%;
	max-width: $content-width;
	margin-left: auto;
	margin-right: auto;
}

.wrapper{
	width: 100vw;
	height: auto;
	min-height: 100vh;
	position: relative;
	display: block;
}

.seperator{
	position: absolute;
	left: 0;
	right: 0;
	width: 100vw;
	line-height: 1em;
	font-size: 0;
	z-index: 1000;
	svg{
		min-width: 100vw;
		height: auto;
	}
	&.seperator-top{top: -3rem;}
	&.seperator-bottom{bottom: -3rem;}
}
.background{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.subtitle{
	max-width: 60.4rem;
	margin-bottom: 3rem;
	h6{
		background-color: $shade-2;
		color: white !important;
		padding: 0 .6rem;
		display: inline-block;
	}
}


section,header,footer{position: relative;}
section{z-index: 20}
header,footer{z-index: 30}

// Other


@media only screen and (max-width: $maxbody) {}
@media only screen and (max-width: $minbody) {}
@media only screen and (max-width: $tablet) {}
@media only screen and (max-width: $mobile) {}
