---
layout: -global
---

<header>
	{% include global/_nav.html %}
	<div class="title">
		<h1>We design and build <strong id="typing"></strong></h1>
	</div>
	<div class="client-logos">
		<h6>Just some of the awesome gamers we’ve enjoyed working with...</h6>
		{% include _clients.html %}
	</div>
	<div class="scroll">
		<div class="outside">
			<div class="inside"></div>
		</div>
	</div>
</header>



{{ content }}



<footer>
	{% include global/_footer.html %}
</footer>

<div id="particles-js"></div>


<!-- imports -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/particles.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/app.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/typeit.min.js"></script>

<link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/style.css">

<script src="{{ site.url }}{{ site.baseurl }}/js/jquery.unveil.js"></script>

<!-- scripts -->
<script>
	$(document).ready(function() {
		$("img").unveil();
	});

	$('#typing').typeIt({
		strings: [{% for type in site.data.title %}"{{type.title}}",{% endfor %}],
     // options
		 //speed: 50,
     breakLines: false,
		 loop: true,
     //autoStart: false
});
</script>
