---
layout: -global
---

<header>
	{% include global/_nav.html %}
	<div class="title">
		<h1>We design and build <strong>online brands for gamers.</strong></h1>
	</div>
	<div class="client-logos">
		<h6>Just some of the awesome gamers we’ve enjoyed woring with...</h6>
		<ul>
			<li><img src="{{ site.url }}{{ site.baseurl }}/img/sponsor/sponsor-1@2x.png" height="30" alt="happy cient" /></li>
			<li><img src="{{ site.url }}{{ site.baseurl }}/img/sponsor/sponsor-2@2x.png" height="30" alt="happy cient" /></li>
			<li><img src="{{ site.url }}{{ site.baseurl }}/img/sponsor/sponsor-3@2x.png" height="30" alt="happy cient" /></li>
			<li><img src="{{ site.url }}{{ site.baseurl }}/img/sponsor/sponsor-6@2x.png" height="30" alt="happy cient" /></li>
			<li><img src="{{ site.url }}{{ site.baseurl }}/img/sponsor/sponsor-7@2x.png" height="30" alt="happy cient" /></li>
		</ul>
	</div>
	<div class="scroll">
		<div class="outside">
			<div class="inside"></div>
		</div>
	</div>
</header>



{{ content }}

<footer>
	{% include global/_footer.html %}
</footer>

<div id="particles-js"></div>


<!-- imports -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/particles.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/app.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/jquery.unveil.js"></script>
<link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/style.css">

<!-- scripts -->
<script>
	$(document).ready(function() {
		$("img").unveil();
	});
</script>
